trigger: none   # Disable CI trigger if you only want scheduled runs

schedules:
- cron: "*/10 * * * *"    # Every 10 minutes
  displayName: "Run every 10 minutes"
  branches:
    include:
      - master
  always: true            # Run even if no code change

pool:
  vmImage: ubuntu-latest

steps:
# 1. Install Google Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip
    sudo apt-get install -y google-chrome-stable
  displayName: 'Install Google Chrome'

# 2. Install ChromeDriver (matching Chrome version)
- script: |
    CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d '.' -f 1)
    echo "Detected Chrome major version: $CHROME_VERSION"
    wget -q "https://chromedriver.storage.googleapis.com/${CHROME_VERSION}.0/chromedriver_linux64.zip"
    unzip chromedriver_linux64.zip
    sudo mv chromedriver /usr/local/bin/
    chromedriver --version
  displayName: 'Install ChromeDriver'

# 3. Run Maven build and tests
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'